.body{
    background:#e9ecef!important;
}

.col-lg-6 .col-mb-4{
    margin-top:1%;
}
.form-control{
    margin:2%; margin-left:7.5%; width:200%;
}
.p{
    margin:2%!important; margin-left:5%!important;
}