<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>OPEN STUDY</title>
   <link rel="stylesheet" href="../static/css/bootstrap.css">
   
   <link rel="shortcut icon" href="../img/shortcut-logo.png">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body 
   style="background:#ffbc3b">
   
   <nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" style = color:white;>
        <img src="../img/logo.png" height="30" alt="HOME">
    </a>
    
    <a class="nav-link active" href="home.html" style = color:#ffbc3b;>HOME</a>
    <a class="nav-link" href="#" style = color:white;>MYSTUDY</a>
    <a class="nav-link" href="#" style = color:white;>OPENSTUDY</a>

    <div class="dropdown">
        <button   class="btn  btn-warning  dropdown-toggle"   data-toggle="dropdown">
          MY MENU
        </button>
        <div class="dropdown-menu dropdown-menu-right">
                 <a class="dropdown-item"  href="my-calendar.html">MY Calendar</a>
                 <a class="dropdown-item"  href="#">개인정보 설정</a>
                 <a class="dropdown-item"  href="#">로그아웃</a>
        </div>
    </div>

  </nav>
  
  <div class="jumbotron" style = "margin-top: 60px;">
    <div class ="container">
    <h1 class="display-4">어서오세요!</h1>
    <p class="lead">이 곳엔 여러 스터디 방이 열려있으며, 얼마든지 참여 가능합니다!</p>
    <hr class="my-4">
    <p>열려있는 스터디방을 검색해보세요</p>

    <div class="input-group input-group-lg mb-3">
      <input type="text" class="form-control" placeholder="스터디방 검색" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-warning" type="button" id="button-addon2" style = color:black;>검색</button>
      </div>
    </div>

  </div>
</div>
<div class = "container">
  <div class = "row">
   <div class ="col-lg-offset-1 col-lg-10 col-md-4 col-sm-3"><h2>MY STUDY </h2></div> 
   <div class = "btn-group btn-group-toggle" data-toggle="buttons">
          <div class = "col-lg-offset-4 col-md-offset-2" style="margin-left:5%;"><button type="button" class="btn btn-outline-dark">See More</button></div>
          <div class = "col-lg-1"><button type="button" class="btn btn-outline-dark"><i class="fas fa-plus fa-lg"></i></button></div>
        </div>
  </div>
  <div class="row" style = "margin-top: 20px;">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">MYSTUDY1</h5>
          <p class="card-text">스터디방 1 소개 내용~~~</p>
          <a href="#" class="btn btn-primary">입장하기</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">MYSTUDY2</h5>
          <p class="card-text">스터디방 1 소개 내용~~~</p>
          <a href="#" class="btn btn-primary">입장하기</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">MYSTUDY3</h5>
          <p class="card-text">스터디방 1 소개 내용~~~</p>
          <a href="#" class="btn btn-primary">입장하기</a>
        </div>
      </div>
    </div>
  </div>
  <p>&nbsp</p>
  <div class = "row">
      <div class ="col-lg-offset-1 col-lg-10 col-md-4 col-sm-3"><h2>OPEN STUDY</h2></div> 
      <div class = "btn-group btn-group-toggle" data-toggle="buttons">
             <div class = "col-lg-offset-4 col-md-offset-2" style="margin-left:5%;"><button type="button" class="btn btn-outline-dark">See More</button></div>
             <div class = "col-lg-1"><button type="button" class="btn btn-outline-dark"><i class="fas fa-plus fa-lg"></i></button></div>
           </div>
     </div>
  <div class="row" style = "margin-top: 20px;  margin-bottom: 60px;">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">OPENSTUDY1</h5>
          <p class="card-text">스터디방 1 소개 내용~~~</p>
          <a href="#" class="btn btn-primary">입장하기</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">OPENSTUDY2</h5>
          <p class="card-text">스터디방 1 소개 내용~~~</p>
          <a href="#" class="btn btn-primary">입장하기</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">OPENSTUDY3</h5>
          <p class="card-text">스터디방 1 소개 내용~~~</p>
          <a href="#" class="btn btn-primary">입장하기</a>
        </div>
      </div>
    </div>
  </div>



</div>

  <nav class="navbar bottom navbar-dark bg-dark justify-content-center">
    <p style = color:white;>Footer bar</p>      
  </nav>

 
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
</body>   
</html>