<!-- home.html
- 스터디 검색기능
- 내 스터디리스트 대표 3개(정렬기준은 상관 없음) 띄우기 + 대표 이미지 띄우기
  (내스터디에 +는 지울거니까 신경쓰지마세요)
- 오픈스터디 리스트 대표 3개 (정렬기준 상관x) 띄우기 + 대표 이미지 띄우기 -->

<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>OPEN STUDY</title>
   <link rel="stylesheet" href="/public/stylesheets/css/bootstrap.css">

   <link rel="shortcut icon" href="/public/images/shortcut-logo.png">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/global.css">

   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
</head>
<body 
   style="background:#ffbc3b">


   <div class = "container" style  = "background:#e9ecef; padding:2.5%">
      <h3>STUDY OUTLINE</h3>
      <textarea name="message" id="message" class="form-control mb-3" placeholder="내용을 입력하세요." style = "height:550px; margin-top:5%;"></textarea>
      
      <div class  ="row justify-content-center">
         <button class = "btn btn-warning mt-3">확인</button>
      </div>
   </div>
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/public/javascripts/bootstrap.js"></script>
</body>   
</html>