<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>OPEN STUDY</title>
   <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
   
   <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
</head>
<body 
   style="background:#ffbc3b">

   <div class = "container justify-content-center"><textarea name="message" id="message" class="form-control mb-3" placeholder="내용을 입력하세요." style = "height:550px; margin-top:5%;"></textarea></div>
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>
</body>   
</html>