<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>OPEN STUDY</title>
   <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
   
   <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/study-week.css">
   <link rel="stylesheet" href="/css/global.css">
</head>

<body style="background:#ffbc3b">
  <div class = "container justify-content-center" style = "background:#e9ecef; padding:5%;">
    <div class = "row">
      <h2 class="modal-title" id="exampleModalLabel"style = "font-weight: bold; margin-left:2.5%">주차별 내용 추가</h2>
    </div>
    <hr class ="my-4">
      <div class = "row">
          <div class ="name">
            <form> 
              <div class = "col-lg-12">
                  <h5 >스터디 제목</h5>
                <input type="text" class="form-control" id="name" placeholder="이번주에 공부할 스터디 제목을 입력하세요."style=" width:200%">
              </div>
            </form>
          </div>
        </div>
        
        <hr class ="my-4">
        <div class = "col-lg-12">
            <h5 style = "margin-left:-2.5%">마감일</h5>
            <div class="form-group col-md-7" style = "margin-left:-7.5%">
                <input type="date" class="form-control" id="finishDate" >
              </div>
              <div class="form-group col-md-5" style = "margin-left:-7.5%">
                <input type="time" class="form-control" id="finishTime">
              </div>
      </div>
      <div class="form-row">
              
            </div>

    <hr class ="my-4">
      <form>
          <div class = "col-lg-12">
                <h5 >스터디 내용</h5>
                <input type="text" class="form-control" id="name" placeholder="스터디 내용을 입력하세요.">
              
            </div>
          </form>
 
          <div class  = "row justify-content-center mt-3"><button type="button" class="btn btn-warning">Save changes</button></div>
  </div>


   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/public/javascripts/bootstrap.js"></script>
</body>   
</html>