<!-- home.html
- 스터디 검색기능
- 내 스터디리스트 대표 3개(정렬기준은 상관 없음) 띄우기 + 대표 이미지 띄우기
  (내스터디에 +는 지울거니까 신경쓰지마세요)
- 오픈스터디 리스트 대표 3개 (정렬기준 상관x) 띄우기 + 대표 이미지 띄우기 -->

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>OPEN STUDY</title>
  <link rel="stylesheet" href="/public/stylesheets/css/bootstrap.css">

  <link rel="shortcut icon" href="/public/images/shortcut-logo.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
     var myStudies =<%- myStudies %>;
    console.log(myStudies);
    var Studies =<%- Studies %>;
    console.log(Studies);
    $(function () {
      for (var i = 1; i <= 3; i++) { //MyStudy 할당
        if (myStudies.length >= i) {
          $("#mystudy" + i).find('h5.card-title').text(myStudies[i - 1].name); //0~2
          $("#mystudy" + i).find('p.card-text').text(myStudies[i - 1].info);
          $("#mystudy" + i).find('a').attr("href", "/study-intro/" + myStudies[i - 1].id);
          $("#mystudy" + i).find('img').attr('src', myStudies[i - 1].imgUrl);
        }
      }
      for (var i = 1; i < 3; i++) { //openstudy 할당
        if(Studies.length >= i) {
          $("#openstudy" + i).find('h5.card-title').text(Studies[i-1].name);
          $("#openstudy" + i).find('p.card-text').text(Studies[i-1].info);
          $("#openstudy" + i).find('a').attr("href", "/openstudy-intro/" + Studies[i-1].id);
          $("#openstudy" + i).find('img').attr('src', Studies[i-1].imgUrl);
        } 
      }
    });
  </script>
  <script src="/public/javascripts/homeScript.js"></script>

</head>

<body style="background:#ffbc3b">

  <nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/home" style="color:rgb(7, 5, 5);">
      <img src="/public/images/logo.png" height="30" alt="HOME">
    </a>

    <a class="nav-link active" href="/home" style='color:#ffbc3b;'>HOME</a>
    <a class="nav-link" href="/study-list/1" style='color:white;'>MYSTUDY</a>
    <a class="nav-link" href="/openstudy-list/1" style='color:white;'>OPENSTUDY</a>

    <div class="dropdown">
      <button class="btn  btn-warning  dropdown-toggle" data-toggle="dropdown">
        MY MENU
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/my-calendar">MY Calendar</a>
        <a class="dropdown-item" href="/my-test-post/1">MY TEST</a>
        <a class="dropdown-item" href="/auth/logout">로그아웃</a>
      </div>
    </div>

  </nav>

  <div class="jumbotron" style="margin-top: 60px;">
    <div class="container">
      <h1 class="display-4">어서오세요!</h1>
      <p class="lead">이 곳엔 여러 스터디 방이 열려있으며, 얼마든지 참여 가능합니다!</p>
      <hr class="my-4">
      <p>열려있는 스터디방을 검색해보세요</p>

      <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" id="name" placeholder="스터디방 검색" aria-label="Recipient's username"
          aria-describedby="searchBtn">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-warning" type="button" id="searchBtn" role="button"
            style='color:black;'>검색</button>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-4 col-sm-3">
        <h2>MY STUDY </h2>
      </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div class="col-lg-offset-4 col-md-offset-2" style="margin-left:5%;">
          <button type="button" class="btn btn-outline-dark" onclick="location.href='/study-list/1'">See More</button></div>
        <div class="col-lg-1"><button type="button" class="btn btn-outline-dark" data-toggle="modal"
            data-target="#myModal"><i class="fas fa-plus fa-lg"></i></button></div>
      </div>

      <!-- modal -->
      <div class="modal fade" id='myModal' tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">스터디 추가</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="name">
                  <div class="col-lg-12">
                    <h5 style="margin-left:5%;">스터디그룹 이름</h5>
                    <input type="text" class="form-control" id="modal_name" placeholder="스터디 과목을 입력하세요."
                      style="margin:2%; margin-left:7.5%; width:200%;">
                  </div>

                </div>
              </div>
              <hr class="my-4">
              <div class="row">
                <div class="intro">

                  <div class="col-lg-12">
                    <h5 style="margin-left:5%;">스터디 소개글</h5>
                    <input type="text" class="form-control" id="modal_info" placeholder="스터디 한줄소개글을 입력하세요."
                      style="margin:2%; margin-left:7.5%; width:200%;">
                  </div>

                </div>
              </div>
              <hr class="my-4">
              <div class="row">
                <div class="image">
                  <div class="col-lg-12">
                    <h5 style="margin-left:5%;"> 대표이미지 설정</h5>
                  </div>
                  <div class="input-group flex-nowrap" style="width:110%;">
                    <div class="input-group" style="margin-left:7.5%;">
                      <div class="custom-file">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="addon-wrapping"><i class="fas fa-file-upload"></i></span>
                        </div>
                        <input type="file" class="custom-file-input" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04">
                        <label id="imgLabel" class="custom-file-label" for="inputGroupFile04">이미지 업로드</label>
                      </div>
                      <div class="input-group-append">
                        <button class="btn btn-warning" type="submit" id="inputGroupFileAddon04">첨부</button>
                      </div>
                    </div>

                  </div>

                </div>
              </div>

            </div>
            &nbsp;
            <div class="modal-footer">
              <Button class="btn btn-warning btn-lg" role="button" data-dismiss="modal">Close</Button>
              <Button id="submitBtn" class="btn btn-warning btn-lg" role="button">Save</Button>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-sm-4" id="mystudy1">
        <div class="card" style="height: 400px;" >
            <img src="/public/images/course-1.jpg" class="card-img-top"  style="height: 55%;">
            <div class="card-body" style="height: 45%;">
            <h5 class="card-title">스터디를 추가해주세요</h5>
            <p class="card-text">설명을 추가해주세요</p>
            <a href="#" class="btn btn-warning">입장하기</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4" id="mystudy2">
          <div class="card" style="height: 400px;" >
              <img src="/public/images/course-1.jpg" class="card-img-top"  style="height: 55%;">
              <div class="card-body" style="height: 45%;">
              <h5 class="card-title">스터디를 추가해주세요</h5>
              <p class="card-text">설명을 추가해주세요</p>
              <a href="#" class="btn btn-warning">입장하기</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4" id="mystudy3">
          <div class="card" style="height: 400px;" >
              <img src="/public/images/course-1.jpg" class="card-img-top"  style="height: 55%;">
              <div class="card-body" style="height: 45%;">
              <h5 class="card-title">스터디를 추가해주세요</h5>
              <p class="card-text">설명을 추가해주세요</p>
              <a href="#" class="btn btn-warning">입장하기</a>
            </div>
          </div>
      </div>
    </div>
    <p>&nbsp</p>
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-4 col-sm-3">
        <h2>OPEN STUDY</h2>
      </div>
      <div class="col-lg-offset-4 col-md-offset-2" style="margin-left:5%;"><button type="button"
          class="btn btn-outline-dark">See More</button></div>
    </div>
    <div class="row" style="margin-top: 20px;  margin-bottom: 60px;">
      <div class="col-sm-4" id="openstudy1">
          <div class="card" style="height: 400px;" >
              <img src="/public/images/course-1.jpg" class="card-img-top"  style="height: 55%;">
              <div class="card-body" style="height: 45%;">
              <h5 class="card-title">스터디를 추가해주세요</h5>
              <p class="card-text">설명을 추가해주세요</p>
              <a href="#" class="btn btn-warning">입장하기</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4" id="openstudy2">
          <div class="card" style="height: 400px;" >
              <img src="/public/images/course-1.jpg" class="card-img-top"  style="height: 55%;">
              <div class="card-body" style="height: 45%;">
              <h5 class="card-title">스터디를 추가해주세요</h5>
              <p class="card-text">설명을 추가해주세요</p>
              <a href="#" class="btn btn-warning">입장하기</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4" id="openstudy3">
          <div class="card" style="height: 400px;" >
              <img src="/public/images/course-1.jpg" class="card-img-top"  style="height: 55%;">
              <div class="card-body" style="height: 45%;">
              <h5 class="card-title">스터디를 추가해주세요</h5>
              <p class="card-text">설명을 추가해주세요</p>
              <a href="#" class="btn btn-warning">입장하기</a>
            </div>
          </div>
      </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/bootstrap.js"></script>
</body>

</html>