<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>OPEN STUDY</title>
   <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
   
   <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

   <link rel=calendar href="lib/tui.calendar-1.12.7/">
</head>
<body style="background:#e9ecef">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#" style = color:white;>
            <img src="../public/images/logo.png" height="30" alt="HOME">
        </a>
        
        <a class="nav-link" style = color:white;>HOME</a>
        <a class="nav-link" href="#" style = color:white;>MYSTUDY</a>
        <a class="nav-link" href="#" style = color:white;>OPENSTUDY</a>
    
        <div class="dropdown">
            <button   class="btn  btn-warning  dropdown-toggle"   data-toggle="dropdown">
              MY MENU
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                     <a class="dropdown-item"  href="my-calendar.html">MY Calendar</a>
                     <a class="dropdown-item"  href="#">개인정보 설정</a>
                     <a class="dropdown-item"  href="#">로그아웃</a>
            </div>
        </div>
    
      </nav>

    <div class="jumbotron jumbotron-fluid" style = "margin-top:2.5%; background:#ffbc3b">
        <div class="container">
          <h1 class="display-4">My Calendar</h1>
          <p class="lead">내 캘린더를 이용하여 일정을 정리할 수 있습니다. </p>
        </div>
      </div>

    <div class = container>


    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>


</body>   
</html>