<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>OPEN STUDY</title>
   <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
   
   <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

   <link rel=calendar href="lib/tui.calendar-1.12.7/">
</head>
<body style="background:#e9ecef">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#" style = color:white;>
            <img src="../public/images/logo.png" height="30" alt="HOME">
        </a>
        
        <a class="nav-link" style = color:white;>HOME</a>
        <a class="nav-link" href="#" style = color:white;>MYSTUDY</a>
        <a class="nav-link" href="#" style = color:white;>OPENSTUDY</a>
    
        <div class="dropdown">
            <button   class="btn  btn-warning  dropdown-toggle"   data-toggle="dropdown">
              MY MENU
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                     <a class="dropdown-item"  href="my-calendar.html">MY Calendar</a>
                     <a class="dropdown-item"  href="my-test.html">MY TEST</a>
                     <a class="dropdown-item"  href="#">개인정보 설정</a>
                     <a class="dropdown-item"  href="#">로그아웃</a>
            </div>
        </div>
    
      </nav>

    <div class="jumbotron jumbotron-fluid" style = "margin-top:2.5%; background:#ffbc3b">
        <div class="container">
          <h1 class="display-4">My TEST</h1>
          <p class="lead">그동안 치뤘던 TEST의 결과, 해설을 볼 수 있습니다. </p>
        </div>
      </div>

    <div class = container>

        <table class="table table-sm table-hover table-bordered">
            <thead>
              <tr >
                <th scope="col" style="width: 5%;">번 호</th>
                <th scope="col" style="width: 45%;">문 제</th>
                <th scope="col" style="width: 20%;">내 답</th>
                <th scope="col" style="width: 20%;">정 답</th>
                <th scope="col" style="width: 10%;">해 설</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               <th scope="row">4</th>
               <td>다음 빈칸 안에 들어갈 말?</td>
               <td>오픈소스</td>
               <td>오픈소스</td>
               <td>바로가기</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>정답은 O? X?</td>
                <td>X</td>
                <td>O</td>
                <td>바로가기</td>
              </tr>            
              <tr>
                <th scope="row">2</th>
                <td>문제 내용~~</td>
                <td>내가 쓴 답</td>
                <td>진짜 답</td>
                <td>바로가기</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>문제 내용~~~</td>
                <td>내가 쓴 답</td>
                <td>진짜 답</td>
                <td>바로가기</td>
              </tr>
            </tbody>
          </table>
      
      

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>


</body>   
</html>