<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>OPEN STUDY</title>
  <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">

  <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <link rel=calendar href="lib/tui.calendar-1.12.7/">

  <style>
    #hover {
      color: #343a40;
    }
    .page-item.active .page-link {
      color: white !important;
      background-color: #ffbc3b !important;
      border-color: #ffbc3b !important;
    }

    .page-link {

      color: #ffbc3b !important;
      background-color: #fff;
      border: 1px solid #dee2e6;
    }
  </style>
  <script>
    var myQuiz =<%-myQuiz %>;
    console.log(myQuiz);
    var page =<%-page %>;
    console.log(page);

    var quizArray = myQuiz.rows;
    var totalPage = parseInt(myQuiz.count/10)+1;
    console.log(totalPage);

    function outputQuizList() {
      for (var i = 0; i < quizArray.length; i++) {
        document.write('<tr>')
        document.write('<th scope="row">' + quizArray[i].id + '</th>')
        document.write('<td><a href="/my-test-post-particular/'+quizArray[i].id+'" id="hover">' + quizArray[i].name + '</a></td>')
        document.write('<td>' + quizArray[i].createdAt.split('T',1)[0] + '</td>')
        document.write('</tr>')
      }
    }

    function makePageNav() {
      for(var i = 1; i <= totalPage; i++ ){
        if(i==page){
          document.write('<li class="page-item active" aria-current="page">');
          document.write('<a class="page-link" href="/my-test-post/'+i+'">'+i+'<span class="sr-only">(current)</span>'+'</a>');
          document.write('</li>');
        }
        else{
          document.write('<li class="page-item"><a class="page-link" href="/my-test-post/'+i+'">'+i+'</a></li>');
        }
      }
    }
  </script>
</head>

<body style="background:#e9ecef">

  <!--nav bar 시작-->
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" style=color:white;>
      <img src="../public/images/logo.png" height="30" alt="HOME">
    </a>

    <!--다른 메뉴로 전환-->
    <a class="nav-link active" href="/home" style=color:white;>HOME</a>
    <a class="nav-link active" href="/study-list" style=color:white;>MYSTUDY</a>
    <a class="nav-link active" href="/openstudy-list/1" style=color:white;>OPENSTUDY</a>

    <!--우측상단 드롭다운버튼-->
    <div class="dropdown">
      <button class="btn  btn-warning  dropdown-toggle" data-toggle="dropdown">
        MY MENU
      </button>

      <!--드롭다운 내부 버튼들-->
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/my-calendar">MY Calendar</a>
        <a class="dropdown-item" href="/my-test-post/1">MY TEST</a>
        <a class="dropdown-item" href="#">로그아웃</a>
      </div>
    </div>

  </nav>

  <!--jumbotron 시작-->
  <div class="jumbotron jumbotron-fluid" style="margin-top:2.5%; background:#ffbc3b">
    <div class="container">
      <h1 class="display-4">My TEST</h1>
      <p class="lead" style="margin-top: 4%;">그동안 치뤘던 TEST의 결과, 해설을 볼 수 있습니다. </p>
    </div>
  </div>

  <!--본문 내용 시작-->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!--post랑 solve랑 전환하는 버튼-->
          <div class="row" style="margin-bottom: 3%; float:right;">
            <!--페이지 전환 고쳐야행-->
            <button type="button" class="btn btn-outline-warning"
            onclick="location.href='/my-test-solve/1'">내가 풀은 문제</button>
            <button type="button" class="btn btn-warning">내가 제출한 문제</button>
          </div>

          <!-- 게시판 -->
          <table class="table table-hover">
            <!-- 게시판 header-->
            <thead>
              <tr>
                <th scope="col" style="width:5%;">No.</th>
                <th scope="col" style="width:65%;">제목</th>
                <th scope="col" style="width:15%;">작성일</th>
              </tr>
            </thead>
            <!-- 게시판 body-->
            <tbody>
              <script>
                outputQuizList();
              </script>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </section>

  <!--게시글 쪽수 나타내고 변경할 수 있는 page navigation-->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center ">
        <script>
            makePageNav();  
        </script>
    </ul>
  </nav>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>


</body>

</html>