<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>OPEN STUDY</title>
   <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
   
   <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

   <link rel=calendar href="lib/tui.calendar-1.12.7/">
</head>
<body style="background:#e9ecef">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#" style = color:white;>
            <img src="../public/images/logo.png" height="30" alt="HOME">
        </a>
        
        <a class="nav-link" style = color:white;>HOME</a>
        <a class="nav-link" href="#" style = color:white;>MYSTUDY</a>
        <a class="nav-link" href="#" style = color:white;>OPENSTUDY</a>
    
        <div class="dropdown">
            <button   class="btn  btn-warning  dropdown-toggle"   data-toggle="dropdown">
              MY MENU
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                     <a class="dropdown-item"  href="my-calendar.html">MY Calendar</a>
                     <a class="dropdown-item"  href="my-test.html">MY TEST</a>
                     <a class="dropdown-item"  href="#">개인정보 설정</a>
                     <a class="dropdown-item"  href="#">로그아웃</a>
            </div>
        </div>
    
      </nav>

    <div class="jumbotron jumbotron-fluid" style = "margin-top:2.5%; background:#ffbc3b">
        <div class="container">
          <h1 class="display-4">문제 게시판 > 해설</h1>
          <p class="lead">문제에 대한 해답입니다.</p>
        </div>
      </div>

    <div class = container style="margin-bottom: 10%;">

      <form>
         <p>&nbsp;</p>
         <h2>문제 제목</h2>
         <div class = "row" style="margin-left: 5px;">
            <h4>몇주차</h4>
            <h4>&nbsp;-&nbsp;</h4>
            <h4>범위 이름</h4>
        </div>

         <hr class="my-4" style = background-color:black;>
         <!--- 객관식일 경우 --->
         <div class="form-group row">
               <label for="quiztitle" class="col-sm-1 col-form-label">문제</label>
               <div class="col-sm-11">
                     <textarea readonly class="form-control-plaintext" aria-label="quiztitle">문제내용
                     </textarea>
               </div>
         </div>
         <div class="form-group row">
               <label for="multipleChoiceQuiz" class="col-sm-1 col-form-label">정답</label>
               <div class="col-sm-11" id = "multipleChoiceQuiz">
                        <div class="form-check">
                           <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="answer1" checked>
                           <label class="form-check-label" for="exampleRadios1">
                             답1
                           </label>
                        </div>
                        <div class="form-check">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="answer2" disabled>
                              <label class="form-check-label" for="exampleRadios2">
                                답2
                              </label>
                        </div>
                        <div class="form-check">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="answer3" disabled>
                              <label class="form-check-label" for="exampleRadios3">
                                답3
                              </label>
                        </div>
                        <div class="form-check">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="answer4" disabled>
                              <label class="form-check-label" for="exampleRadios4">
                                답4
                              </label>
                        </div>   
               </div>
            </div>

               <div class="form-group row">
                  <label for="descriptivequizAnswerDetail" class="col-sm-1 col-form-label">해설</label>
                  <div class="col-sm-11">
                     <textarea readonly class="form-control-plaintext" aria-label="descriptivequizAnswerDetail">해설내용
                     </textarea>
                  </div>
            
         </div>

         <hr class="my-4" style = background-color:black;>
         <!--- 단답식일 경우 --->
         <div class="form-group row">
               <label for="quiztitle" class="col-sm-1 col-form-label">문제</label>
               <div class="col-sm-11">
                     <textarea readonly class="form-control-plaintext" aria-label="quiztitle">문제내용
                     </textarea>
               </div>
         </div>

         <div class="form-group row">
               <label for="oneWordQuizAnswer" class="col-sm-1 col-form-label">정답</label>
               <div class="col-sm-11">
                  <textarea readonly class="form-control-plaintext" aria-label="oneWordQuizAnswer">정답내용
                  </textarea>
               </div>
         </div>

         <div class="form-group row">
            <label for="oneWordQuizAnswerDetail" class="col-sm-1 col-form-label">해설</label>
            <div class="col-sm-11">
               <textarea readonly class="form-control-plaintext" aria-label="oneWordQuizAnswerDetail">해설내용
               </textarea>
            </div>
      </div>
         
         <hr class="my-4" style = background-color:black;>
         <!--- 서술형일 경우 --->
         <div class="form-group row">
               <label for="quiztitle" class="col-sm-1 col-form-label">문제</label>
               <div class="col-sm-11">
                     <textarea readonly class="form-control-plaintext" aria-label="quiztitle">문제내용
                     </textarea>
               </div>
         </div>

         <div class="form-group row">
               <label for="descriptivequizAnswer" class="col-sm-1 col-form-label">정답</label>
               <div class="col-sm-11">
                  <textarea readonly class="form-control-plaintext" aria-label="descriptivequizAnswer">정답내용
                  </textarea>
               </div>
         </div>

         <div class="form-group row">
            <label for="descriptivequizAnswerDetail" class="col-sm-1 col-form-label">해설</label>
            <div class="col-sm-11">
               <textarea readonly class="form-control-plaintext" aria-label="descriptivequizAnswerDetail">해설내용
               </textarea>
            </div>
      </div>
      </form>
      <hr class="my-4" style = background-color:black;>

      <p class="float-right">출제자 : 함인규</p>

    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>


</body>   
</html>