<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
    <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
    </style>
    <script>
        var imsg = "<%= msg %>";
        if (imsg)
            alert(imsg);
    </script>
</head>

<body style="background:#ffbc3b">

    <div class="container">

        <div class="signUp"
            style="width:80%; margin:auto;margin-top:80px;margin-bottom:80px;box-shadow: 1.5px 1.5px 5px 5px #333333;">

            <form method="post" action="auth/join">
                <div class="form-signUp" style="background:#1A1A37; padding:10%;">

                    <div class="row">
                        <img src="../public/images/logo.png" style="margin:auto;">
                    </div>

                    <div class="row">
                        <h4
                            style="margin:auto; font-size:25px;color:white; margin-top:10%; margin-bottom:4%; font-weight:bold;">
                            회 원 가 입</h4>
                    </div>

                    <hr class="my-4" style=background-color:white;>

                    <p style="color:white; margin-top:10%;">

                        이름
                        <input name="nick" type="text" placeholder="이름을 입력하세요" style="width:80%; height:25px; background-color:#1A1A37; color:white; font-size:15px; float: right;
                           border-right:0px; border-top:0px; border-left:0px; border-bottom:2px solid #ffbc3b">
                    </p>

                    <p>&nbsp;</p>

                    <p style="color:white;">

                        생년월일
                        <input type="text" placeholder="연도를 제외한 생년월일"
                            style="width:80%; height:25px; background-color:#1A1A37; color:white; font-size:15px; float: right;border-right:0px; border-top:0px; border-left:0px; border-bottom:2px solid #ffbc3b">
                    </p>

                    <p>&nbsp;</p>

                    <p style="color:white;">

                        ID
                        <input name="email" type="text" placeholder="ID"
                            style="width:80%; height:25px; background-color:#1A1A37; color:white; font-size:15px; float: right;border-right:0px; border-top:0px; border-left:0px; border-bottom:2px solid #ffbc3b">
                    </p>

                    <p>&nbsp;</p>

                    <p style="color:white;">

                        PW
                        <input name="password" type="password" placeholder="Password"
                            style="width:80%; height:25px; background-color:#1A1A37; color:white; font-size:15px; float: right; border-right:0px; border-top:0px; border-left:0px;border-bottom:2px solid #ffbc3b;">
                    </p>

                    <p>&nbsp;</p>

                    <p style="color:white;">

                        PW 확인
                        <input type="password" placeholder="Password를 다시 입력해주세요"
                            style="width:80%; height:25px; background-color:#1A1A37; color:white; font-size:15px; float: right; border-right:0px; border-top:0px; border-left:0px;border-bottom:2px solid #ffbc3b;">
                    </p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <input type="submit" value="완료"
                        style="margin-left:25%; width:52.5%; height:30px; background-color:#ffbc3b; border:0px; outline:none;   color:white; font-size:15px; font-weight:bold;">


                </div>
            </form>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>
</body>

</html>