<!-- 이 페이지를 열려면 url에 study-post-intro/boardID를 parameter로 줘야합니다.-->
<!-- study-post-list.html (각 주에 공부해야할 항목의 게시글과 만든 문제를 띄우는 html)
- 주차별 정보 띄우기. (날짜, 몇주차인지, 제목, 세부 내용)
- post 버튼 밑에 게시글 리스트 왼쪽 상단에 게시글 | 문제 버튼 만들 것임.
 여기서 게시글 버튼을 누르면 게시글 리스트가 나오고 문제 버튼을 누르면 문제 리스트가 나오게 설정
- 게시글과 문제의 No. 제목, 작성자, 작성일 띄우기
- 각 게시글 안에 몇 개의 채팅이 왔는지 띄우기. (디자인은 제가할게요 숫자만 받아와 주세요)
- 게시글 리스트를 누르면 게시글 정보를 modal 형태로 만들었는데, 게시글 밑에 댓글창이 있어요. 여기에 사용자 이름, 댓글, 대댓글 다는 기능까지 있었으면 좋겠습니다...! (디자인 구성은 제가 할게요)
- 그리고 문제 리스트도 modal 형태로 띄울 예정인데 거기서도 문제를 올리면 댓글을달고, 댓글을 단 순간 답을 대댓글로(비밀댓글(이것두 따로 작업 하셔야겠죠...?ㅠㅠ)) 보내주는 기능도 필요할 것 같습니다.  
그리고 채팅을 study-post-list.html에 띄울 생각인데
각각 게시글에서 몇개의 알람이 왔다!라고 알림이 뜨고나서, 그것을 누르면
이 html의 오른쪽 하단에 채팅방이 뜨는 형식으로 만들까 합니다. (아직 만들진 않았어요)
 - 채팅에 필요한 것: 채팅자의 이름, 채팅방에 들어와있는 인원(없어도 될것같긴해요)
  채팅 post (작성한 채팅이 실시간으로 다른사람에게 전해질 수 있게..!), 채팅시간.
  -->

  <!DOCTYPE html>
  <html lang="ko">
  <head>
     <meta charset="UTF-8">
     <title>OPEN STUDY</title>
     <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
     
     <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  <style>
      #hover{
          color:#343a40;
      }
      .page-item.active .page-link {
        color: white!important;
        background-color: #ffbc3b!important;
        border-color: #ffbc3b!important;
  }
    .page-link {
        color: #ffbc3b!important;
        background-color: #fff;
        border: 1px solid #dee2e6;  
    }
  </style>
  <script>
    var board = <%- board %>
    console.log(board);
    var posts = <%- posts %>
    console.log(posts);
  </script>
  </head>
  <body style="background:#e9ecef">
     
     <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#" style = color:white;>
            <img src="../public/images/logo.png" height="30" alt="HOME">
        </a>
        
        <a class="nav-link active" href="home.html" style = color:#ffbc3b;>HOME</a>
        <a class="nav-link" href="#" style = color:white;>MYSTUDY</a>
        <a class="nav-link" href="#" style = color:white;>OPENSTUDY</a>
    
        <div class="dropdown">
            <button   class="btn  btn-warning  dropdown-toggle"   data-toggle="dropdown">
              MY MENU
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                     <a class="dropdown-item"  href="my-calendar.html">MY Calendar</a>
                     <a class="dropdown-item"  href="#">개인정보 설정</a>
                     <a class="dropdown-item"  href="#">로그아웃</a>
            </div>
        </div>
    
      </nav>
  
      <div class="jumbotron jumbotron-fluid" style = "margin-top:2.5%; background:#ffbc3b">
          <div class="container">
            <div class = "row">
                <div class = "col-lg-10">
            <script>
                var studyName = ['OpenSource Project'];
              document.write('<p class="display-4">MyStudy <i class="fas fa-chevron-right fa-sm"></i> '+studyName+'</p>');       
            </script>
            </div>
            <div class = "col-lg-6 col-mb-4" style = "margin-top:1%;">    
              <p></p>
          </div>
          </div>
              <p class="lead">스터디 소개글 여기에 넣기~ </p>
          </div>
      </div>
  
  <section class="section">
      <div class="container">
        
        <div class="row">
          <div class="col-12">
            <div class="d-flex">
              <div class="text-center mr-4">
                <div class="p-4 bg-warning text-white">
                    <span class="h2 d-block">05</span> SEP,2019
                </div>
              </div>
              <!-- notice content -->
              <div>
                <h3 class="mb-4">4주차 Polynomial and sparse matrix</h3>
                <ul class="list-styled mb-5">
                  <li>다항식</li>
                  <li>희소 행렬</li>
                  <li>효율적인 희소행렬 표현</li>
                  <li>배열의 표현</li>
                  <li>스트링 추상 데이타 타입</li>
                </ul>
              </div>
            </div>
  
              <div class="col-lg-12">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning" style = "margin-left:30%; margin-bottom: 10%;  width:200px;height:50px;">게시글 POST</button>
                <button type="button" class="btn btn-warning" style = " margin-bottom:10%; width:200px;height:50px;">문제 POST</button>
              </div>
            </div>
            <div class="col-lg-12 offset-10">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary " style = "margin-left:15%; margin-bottom: 10% ;  width:100px;height:40px;">게시글</button>
                <button type="button" class="btn btn-outline-secondary " style = " margin-bottom:10%; width:100px;height:40px;">문제</button>
              </div>
            </div>
  
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col" style = "width:70%;">제목</th>
                  <th scope="col">작성자</th>
                  <th scope="col" style = "width:10%;">작성일</th>
                </tr>
              </thead>
              <tbody>
                  <tr data-toggle="modal" data-target="#postModal" href="#" >
    
                      <th scope="row">5</th>
                      <td><a href="#" id = "hover">4주차 허예은</a><button onclick="window.open('/chat','chat','width=430,height=600,location=no,status=no,scrollbars=yes');" target="_blank" type="button" class="btn btn-danger btn-sm" style = "margin-left:2.5%;" >알림 &nbsp;<span class="badge badge-light">4</span></button> </td>
                      <td>허예은</td>
                      <td>2019-10-10</td>
                    </tr>
    
                  <tr>
                        <th scope="row">4</th>
                        <td><a href="#" id = "hover">4주차 허예은</a></td>
                        <td>허예은</td>
                        <td>2019-10-10</td>
                      </tr>    
                <tr>
                  <th scope="row">3</th>
                  <td><a href="#" id = "hover">4주차 허예은</a></td>
                  <td>허예은</td>
                  <td>2019-10-10</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td><a href="#" id = "hover">4주차 허예은</a></td>
                  <td>허예은</td>
                  <td>2019-10-10</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td><a href="#" id = "hover">4주차 허예은</a></td>
                  <td>허예은</td>
                  <td>2019-10-10</td>
                </tr>
              </tbody>
            </table>
    
            <!-- modal -->
            <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content rounded-0 border-0 p-4">
                        <div class="modal-header border-0">
                           <p> <h3>4주차 허예은</h3></p>
    
                            
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">작성자</th>
                                    <th scope="col" style = "width:20%;">작성일</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>5</td>
                                    <td>허예은</td>
                                    <td>2019-10-10</td>
                                  </tr>
                                </tbody>
                              </table>
                              <table>
                                <div class="col-lg-12" style = "border: 1px solid #dee2e6; overflow:scroll; height:400px;">
                                    <p>김익수</p>
                                    <p>교수님</p>
                                    <p>최고</p>
                                    <p>◟( ˘ ³˘)◞ ♡</p>
                                    <p>김익수</p>
                                    <p>교수님</p>
                                    <p>최고</p>
                                    <p>◟( ˘ ³˘)◞ ♡</p>
                                    <p>김익수</p>
                                    <p>교수님</p>
                                    <p>최고</p>
                                    <p>◟( ˘ ³˘)◞ ♡</p>
                                    <p>김익수</p>
                                    <p>교수님</p>
                                    <p>최고</p>
                                    <p>◟( ˘ ³˘)◞ ♡</p>
                                </div>
                              </table>
    
                            <form action="#" class="row">
                                <div class="col-12">
                                    <p>&nbsp</p>
                                </div>
                              <div class = "col-12">
                                  <p> <h5>댓글달기</h5></p>
                              </div>
                                
                              <p style = "margin-left:2%;"><i class="fas fa-user mr-2"></i>허예은</p>
                                <div class="col-12">
                                    <input type="text" class="form-control mb-3" id="upload" name="upload" placeholder="댓글을 입력하세요.">
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-warning">댓글달기</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
  
            <!-- page navigation -->
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#" style = "background:ffbc3b;">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
  
          </div>
        </div>
      </div>
    </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>
  </body>   
  </html>