<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>OPEN STUDY</title>
   <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
   
   <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

   <style>
   .bg-primary {
    background-color: #ffbc3b !important;
}
    .week {
    color:#343a40 !important;
    text-decoration: none;
    background-color: transparent;
    }
   </style>
    <script>
      var boards = <%- boards %>;
      console.log(boards);
  
     </script>
</head>
<body style="background:#e9ecef">
   
   <nav class="navbar navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#" style = color:white;>
          <img src="../public/images/logo.png" height="30" alt="HOME">
      </a>
      
      <a class="nav-link active" href="home" style = color:#ffbc3b;>HOME</a>
      <a class="nav-link" href="#" style = color:white;>MYSTUDY</a>
      <a class="nav-link" href="#" style = color:white;>OPENSTUDY</a>
  
      <div class="dropdown">
          <button   class="btn  btn-warning  dropdown-toggle"   data-toggle="dropdown">
            MY MENU
          </button>
          <div class="dropdown-menu dropdown-menu-right">
                   <a class="dropdown-item"  href="my-calendar">MY Calendar</a>
                   <a class="dropdown-item"  href="#">개인정보 설정</a>
                   <a class="dropdown-item"  href="#">로그아웃</a>
          </div>
      </div>
  
    </nav>
    
    <div class="jumbotron jumbotron-fluid" style = "margin-top:2.5%; background:#ffbc3b">
        <div class="container">
          <div class = "row">
              <div class = "col-lg-10">
          <script>
              var studyName = ['OpenSource Project'];
            document.write('<p class="display-4">MyStudy <i class="fas fa-chevron-right fa-sm"></i> '+studyName+'</p>');       
          </script>
          </div>
          <div class = "col-lg-6 col-mb-4" style = "margin-top:1%;">    
            <p></p>
        </div>
        </div>
            <p class="lead">스터디 소개글 여기에 넣기~ </p>
        </div>
    </div>

    <div class = "container">
        <!-- /page title -->
        <div class = "row">
        <div class="col-lg-2 d-md-table-cell text-right pr-0 pr-md-4" style="margin-left:-5%;"><a href="notice-single" class="btn btn-warning">문제풀기</a></div>
        </div>
        &nbsp;

    <section class="section">
            <div class="container">
            <div class="row">
                <div class="col-12">
                <ul class="list-unstyled">
                    <!-- notice item -->
                    <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
                            <div class="d-md-table-cell text-center p-4 bg-primary text-white mb-4 mb-md-0"><span class="h2 d-block">11</span> NOV, 2019</div>
                            <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
                            <a href="notice-single" class="h4 mb-3 d-block week" style = "margin-top:5%; font-weight:bold;">4주차 Polynomial and sparse matrix </a>
                            <ul class="list-styled mb-5">
                                    <li>다항식</li>
                                    <li>희소 행렬</li>
                                    <li>효율적인 희소행렬 표현</li>
                                    <li>배열의 표현</li>
                                    <li>스트링 추상 데이타 타입</li>
                                </ul>
                            </div>
                            <div class="d-md-table-cell text-right pr-0 pr-md-4"><a href="notice-single" class="btn btn-warning">참여하기</a></div>
                        </li>
                <!-- notice item -->
                <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
                        <div class="d-md-table-cell text-center p-4 bg-primary text-white mb-4 mb-md-0"><span class="h2 d-block">07</span> NOV, 2019</div>
                        <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
                          <a href="notice-single" class="h4 mb-3 d-block week" style = "margin-top:5%; font-weight:bold;">3주차 array & ADT & 선형리스트 </a>
                          <ul class="list-styled mb-5">
                                <li>C++에서의 데이타 추상화와 캡슐화 </li>
                                <li>ADT와 C++ 클래스</li>
                                <li>추상 데이타 타입으로서의 배열 </li>
                                <li>선형 리스트</li>
                            </ul>
                        </div>
                        <div class="d-md-table-cell text-right pr-0 pr-md-4"><a href="notice-single" class="btn btn-warning">참여하기</a></div>
                      </li>
                <!-- notice item -->
                <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
                  <div class="d-md-table-cell text-center p-4 bg-primary text-white mb-4 mb-md-0"><span class="h2 d-block">25</span> OCT, 2019</div>
                  <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
                    <a href="notice-single" class="h4 mb-3 d-block week" style = "margin-top:5%; font-weight:bold;">2주차 Basic concept of data structures </a>
                    <ul class="list-styled mb-5">
                        <li>객체 지향 설계 </li>
                        <li>공간 복잡도</li>
                        <li>시간 복잡도 </li>
                        <li>성능 측정</li>
                      </ul>
                  </div>
                  <div class="d-md-table-cell text-right pr-0 pr-md-4"><a href="notice-single" class="btn btn-warning">참여하기</a></div>
                </li>
                <!-- notice item -->
                <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
                  <div class="d-md-table-cell text-center p-4 bg-primary text-white mb-4 mb-md-0"><span class="h2 d-block">09</span> OCT, 2019</div>
                  <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
                    <a href="notice-single" class="h4 mb-3 d-block week" style = "margin-top:5%; font-weight:bold;">1주차 Introduction of data structures </a>
                    <ul class="list-styled mb-5">
                        <li>자료구조 개요 </li>
                        <li>자료구조의 분류</li>
                        <li>자료의 표현 </li>
                      </ul>
                  </div>
                  <div class="d-md-table-cell text-right pr-0 pr-md-4"><a href="notice-single" class="btn btn-warning">참여하기</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- /notice -->
    </div>
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>
</body>   
</html>