<!-- data 필요없는 화면-->
<!-- study-post.html (게시글을 작성하는 html)
- 주차별 정보 띄우기. (날짜, 몇주차인지, 제목, 세부 내용)
- 여기도 게시글 | 문제 버튼 만들어 글을 게시할때는 게시글, 문제를 게시할때는 문제 버튼을 눌러 게시글의 종류 구별하기.
- 제목 / 첨부파일 게시/ 내용 post -->

<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>OPEN STUDY</title>
   <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
   
   <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

   <script>
    var board =<%-board %>;
    console.log(board);
    var study =<%-study %>;
    console.log(study);

    var boardName = board.name;
    var boardInfo = board.info;
    var boardweek = board.week;

    var studyName = study.name;
    var studyInfo = study.info;

    var mon = board.deadline.split('.',3)[1];
    var mon_Eng = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUl", "AUG", "SEP", "OCT", "NOV", "DEC"];
    var day = board.deadline.split('.',3)[2];
    var year = 20+board.deadline.split('.',3)[0];

   </script>

</head>
<body style="background:#e9ecef">
   
   <nav class="navbar navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#" style = color:white;>
          <img src="/public/images/logo.png" height="30" href = "/home" alt="HOME">
      </a>
      
      <a class="nav-link" href="/home" style = color:white;>HOME</a>
      <a class="nav-link active" href="/study-list" style = color:#ffbc3b;>MYSTUDY</a>
      <a class="nav-link" href="/openstudy-list" style = color:white;>OPENSTUDY</a>
  
      <div class="dropdown">
          <button   class="btn  btn-warning  dropdown-toggle"   data-toggle="dropdown">
            MY MENU
          </button>
          <div class="dropdown-menu dropdown-menu-right">
                   <a class="dropdown-item"  href="my-calendar">MY Calendar</a>
                   <a class="dropdown-item"  href="#">개인정보 설정</a>
                   <a class="dropdown-item"  href="#">로그아웃</a>
          </div>
      </div>
  
    </nav>
    
    <div class="jumbotron jumbotron-fluid" style = "margin-top:2.5%; background:#ffbc3b">
        <div class="container">
          <div class = "row">
              <div class = "col-lg-10">
          <script>
            document.write('<p class="display-4">My Study <i class="fas fa-chevron-right fa-sm"></i> '+studyName+'</p>');       
          </script>
          </div>
          <div class = "col-lg-6 col-mb-4" style = "margin-top:1%;">    
            <p></p>
        </div>
        </div>
            <script>
              document.write('<p class="lead">'+studyInfo+ '</p>');
            </script>
        </div>
    </div>

    <section class="section" style = "height:1000px;">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="d-flex">
                <div class="text-center mr-4">
                  <div class="p-4 bg-warning text-white">
                      <script>
                      document.write('<span class="h2 d-block">' + day + '</span> ' + mon_Eng[mon - 1] + ',' + year);  
                      </script>
                  </div>
                </div>
                <!-- notice content -->
                <div>
                  <script>
                    document.write('<h3 class="mb-4">'+boardweek+"주차 "+boardName +'</h3>');
                  </script>
                  <ul class="list-styled mb-5">
                    <script>
                      document.write('<li>'+boardInfo+'</li>');
                    </script>
                  </ul>
                </div>
              </div>
      
              <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="제목을 입력하세요.">
              <div class="input-group flex-nowrap">
                <div class="input-group flex-nowrap">
                  <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04">
                        <label class="custom-file-label" for="inputGroupFile04">첨부파일</label>
                      </div>
                      <div class="input-group-append">
                        <button class="btn btn-warning" type="button" id="inputGroupFileAddon04">첨부</button>
                      </div>
                    </div>
                  </div>

                  </div>
              &nbsp;
                <textarea name="message" id="message" class="form-control mb-3" placeholder="내용을 입력하세요." style = "height:75%;"></textarea>
      
              <div class = "row">
                      <div class="col-lg-12 col-sm-8 mb-5 mb-lg-0">
                        <button type="button" class="btn btn-warning" style = "margin-top:5%;margin-left:50%;">POST</button>
                      </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /notice details -->
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>
</body>   
</html>