<!-- study-week.html (study-intro.html 에서 출석하기를 누르면 처음으로 뜨는 창. 주차별 공부 내용)
- (이 html에 있는 문제 풀기 버튼을 없앨거에요.)
- 이 스터디의 owner일때 주차별 항목 추가하는 버튼 생성. owner가 아닐때는 버튼 없앰.
- owner가 주차별 항목을 추가하면 이 html에서 항목을 추가하고, 그 항목에서 버튼을 누르면 그 주차의 게시글을 볼 수 있는 html 띄우기 -->

<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>OPEN STUDY</title>
   <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
   
   <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/study-week.css">
   <link rel="stylesheet" href="/css/global.css">
    <script>
      var boards = <%- boards %>;
      console.log(boards);

      var deadline = boards.deadline.split(' ',1)[0];
      var studyName = boards.name;
      var studyInfo = boards.info;
      var week = boards.week;
      console.log(date);

      var mon = date.split('-',3)[1];
      var mon_Eng = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUl", "AUG", "SEP", "OCT", "NOV", "DEC"];
      var day = date.split('-',3)[2];
      var year = date.split('-',3)[0];

      var studyContentsParent = boards.name;
      var studyContentsParentWeek = boards.week;
      var studyContents = boards.info;

     </script>
</head>
<body style="background:#e9ecef">
   
   <nav class="navbar navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#" >
          <img src="../public/images/logo.png" height="30" alt="HOME">
      </a>
      
      <a class="nav-link" href="home" >HOME</a>
      <a class="nav-link active" href="#">MYSTUDY</a>
      <a class="nav-link" href="#">OPENSTUDY</a>
  
      <div class="dropdown">
          <button   class="btn  btn-warning  dropdown-toggle"   data-toggle="dropdown">
            MY MENU
          </button>
          <div class="dropdown-menu dropdown-menu-right">
                   <a class="dropdown-item"  href="my-calendar">MY Calendar</a>
                   <a class="dropdown-item"  href="#">개인정보 설정</a>
                   <a class="dropdown-item"  href="#">로그아웃</a>
          </div>
      </div>
  
    </nav>
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class = "row">
              <div class = "col-lg-10">
          <script>

            document.write('<p class="display-4">MyStudy <i class="fas fa-chevron-right fa-sm"></i> '+studyName+'</p>');       
          </script>
          </div>
          <div class = "col-lg-6 col-mb-4" style = "margin-top:1%;">    
            <p></p>
        </div>
        </div>
        <script>
            document.write('<p class="lead">'+studyInfo+' </p>');
          </script>
        </div>
    </div>

    <div class = "container">
        <!-- /page title -->
        <div class = "row">
        <div class="col-lg-2 text-right pr-0 pr-md-1" style="margin-left:-5%;"><a href="notice-single" class="btn btn-warning">문제풀기</a></div>
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus fa-lg"></i></button>
        </div>
        &nbsp;
        
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">주차별 내용 추가</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class = "row">
                        <div class ="name">
                          <form>
                             
                            <div class = "col-lg-12">
                                <h5 >스터디 제목</h5>
                              <input type="text" class="form-control" id="name" placeholder="이번주에 공부할 스터디 제목을 입력하세요."style="margin:2%; margin-left:7.5%; width:200%;">
                            </div>
                          </form>
                        </div>
                      </div>

                      <hr class ="my-4">
                      <div class = "row">
                          <p  style="margin:2%!important; 
                          margin-left:5%!important;">마감일
                        <div class="form-row">
                            <div class="form-group col-md-7">
                              <input type="date" class="form-control" id="finishDate" >
                            </div>
                            <div class="form-group col-md-5">
                              <input type="time" class="form-control" id="finishTime">
                            </div>
                          </div>
                        </p>
                    </div>

                    <hr class ="my-4">
                    <form>
                    <div class = "col-lg-12">
                          <h5 >스터디 내용</h5>
                          <input type="text" class="form-control" id="name" placeholder="스터디 내용을 입력하세요.">
                          <button type="button" class="btn btn-warning"><i class="fas fa-plus fa-lg"></i></button>
                        
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-warning">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    <section class="section">
            <div class="container">
            <div class="row">
                <div class="col-12">
                <ul class="list-unstyled">
                    <!-- notice item -->
                    <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
                            <div class="d-md-table-cell text-center p-4 bg-primary text-white mb-4 mb-md-0">
                                <script>
                                     document.write('<span class="h2 d-block">' + day + '</span> ' + mon_Eng[mon - 1] + ',' + year);
                                  </script>
                            </div>
                            <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
                            <script>
                              document.write('<a href="notice-single" class="h4 mb-3 d-block week" >'+week+"주차 "+studyName+'</a>') ;
                              </script>
                              
                            <ul class="list-styled mb-5">
                                    <li>다항식</li>
                                    <li>희소 행렬</li>
                                    <li>효율적인 희소행렬 표현</li>
                                    <li>배열의 표현</li>
                                    <li>스트링 추상 데이타 타입</li>
                                </ul>
                            </div>
                            <div class="d-md-table-cell text-right pr-0 pr-md-4"><a href="notice-single" class="btn btn-warning">참여하기</a></div>
                        </li>
                <!-- notice item -->
                <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
                        <div class="d-md-table-cell text-center p-4 bg-primary text-white mb-4 mb-md-0"><span class="h2 d-block">07</span> NOV, 2019</div>
                        <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
                          <a href="notice-single" class="h4 mb-3 d-block week">3주차 array & ADT & 선형리스트 </a>
                          <ul class="list-styled mb-5">
                                <li>C++에서의 데이타 추상화와 캡슐화 </li>
                                <li>ADT와 C++ 클래스</li>
                                <li>추상 데이타 타입으로서의 배열 </li>
                                <li>선형 리스트</li>
                            </ul>
                        </div>
                        <div class="d-md-table-cell text-right pr-0 pr-md-4"><a href="notice-single" class="btn btn-warning">참여하기</a></div>
                      </li>
                <!-- notice item -->
                <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
                  <div class="d-md-table-cell text-center p-4 bg-primary text-white mb-4 mb-md-0"><span class="h2 d-block">25</span> OCT, 2019</div>
                  <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
                    <a href="notice-single" class="h4 mb-3 d-block week">2주차 Basic concept of data structures </a>
                    <ul class="list-styled mb-5">
                        <li>객체 지향 설계 </li>
                        <li>공간 복잡도</li>
                        <li>시간 복잡도 </li>
                        <li>성능 측정</li>
                      </ul>
                  </div>
                  <div class="d-md-table-cell text-right pr-0 pr-md-4"><a href="notice-single" class="btn btn-warning">참여하기</a></div>
                </li>
                <!-- notice item -->
                <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
                  <div class="d-md-table-cell text-center p-4 bg-primary text-white mb-4 mb-md-0"><span class="h2 d-block">09</span> OCT, 2019</div>
                  <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
                    <a href="notice-single" class="h4 mb-3 d-block week">1주차 Introduction of data structures </a>
                    <ul class="list-styled mb-5">
                        <li>자료구조 개요 </li>
                        <li>자료구조의 분류</li>
                        <li>자료의 표현 </li>
                      </ul>
                  </div>
                  <div class="d-md-table-cell text-right pr-0 pr-md-4"><a href="notice-single" class="btn btn-warning">참여하기</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- /notice -->
    </div>
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>
</body>   
</html>