<!-- study-list.html (home.html에 see more 버튼을 누르면 스터디 목록을 띄워줌)
- My study 일 때 jumbotron에 My Study 띄우기. openstudy일때는 Open Study 띄우기
- My Study와 Open Study html 형태가 같아서 
 home.html 의 My Study 글씨 오른쪽에 위치해 있는 see more을 누르면  
 My Study의 목록이 나오고, 
 Open Study 글씨 오른쪽에 위치해 있는 see more을 누르면  Open Study의 목록이 나옴. -->
 
 <!DOCTYPE html>
 <html lang="ko">
 <head>
    <meta charset="UTF-8">
    <title>OPEN STUDY</title>
    <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
    
    <link rel="shortcut icon" href="../public/images/shortcut-logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
         
    <style>
       #hover {
      color: #343a40;
    }

    .page-item.active .page-link {
      color: white !important;
      background-color: #ffbc3b !important;
      border-color: #ffbc3b !important;
    }

    .page-link {

      color: #ffbc3b !important;
      background-color: #fff;
      border: 1px solid #dee2e6;
    }
    </style>
    <script>
        var myStudies =<%-myStudies %>;
        console.log(myStudies);
        var page = <%-page %>;
        console.log(page);

        var study = myStudies;

        var totalPage = parseInt(myStudies.length/9)+1;
        console.log(totalPage);

        function makePageNav() {
        for(var i = 1; i <= totalPage; i++ ){
            if(i==page){
            document.write('<li class="page-item active" aria-current="page">');
            document.write('<a class="page-link" href="/study-list/'+ page+'" >'+i+'<span class="sr-only">(current)</span>'+'</a>');
            document.write('</li>');
            }
            else{
                document.write('<li class="page-item"><a class="page-link" href="/study-study-list/'+ page +'">'+i+'</a></li>');
            }
        }
    }

    function studyList(){
        for(var i = 0; i<study.length;i++){
            if(i%3==1){
                document.write('<div class = "row">');
            }
            document.write('<div class="col-sm-4" >');
            document.write('<img src="'+myStudies[i].imgUrl+'" class="card-img-top" alt="...">');
            document.write( '<div class="card">');
            document.write('<div class="card-body">');
            document.write('<h5 class="card-title">'+myStudies[i].name+'</h5>');
            document.write('<p class="card-text">'+myStudies[i].info+'</p>');
            document.write(' <a href="#" class="btn btn-warning">입장하기</a>');
            document.write(' </div>');
            document.write( '</div>');
            document.write( '</div>');
            if(i%3==1){
                document.write('</div>');
            }
            
        }
    }
    </script>
 </head>
 
 
 
 <body style="background:#e9ecef;">
    
    <nav class="navbar navbar-dark bg-dark fixed-top">
       <a class="navbar-brand" href="#" style = color:white;>
           <img src="../public/images/logo.png" height="30" alt="HOME">
       </a>
       
       <a class="nav-link active" href="home.html" style = color:#ffbc3b;>HOME</a>
       <a class="nav-link" href="#" style = color:white;>MYSTUDY</a>
       <a class="nav-link" href="#" style = color:white;>OPENSTUDY</a>
   
       <div class="dropdown">
           <button   class="btn  btn-warning  dropdown-toggle"   data-toggle="dropdown">
             MY MENU
           </button>
           <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item"  href="my-calendar.html">MY Calendar</a>
                    <a class="dropdown-item"  href="#">개인정보 설정</a>
                    <a class="dropdown-item"  href="#">로그아웃</a>
           </div>
       </div>
   
     </nav>
     
     <div class="jumbotron jumbotron-fluid" style = "margin-top:2.5%; background:#ffbc3b">
             <div class="container">
               <div class = row>
               <div class = "col-lg-4">
                          <p class="display-4">My Study</p>
               </div>
               <div class = "col-lg-6 col-mb-4" style = "margin-top:1%;">    
                 <p></p>
               </div>
     
             </div>
               <p class="lead">사용자가 속해있는 스터디를 한눈에 볼 수 있습니다. </p>
             </div>
           </div>
 
     <div class = "container">
         <script>
            studyList();
            </script>
             &nbsp;
             <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <script>
                      makePageNav();  
                    </script>
                  </ul>
            </nav>
     </div>
    
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>
 </body>   
 </html>